{%- extends "./base.njk" -%}

{%- block content -%}
    {%- include "./components/header.njk" -%}
    {{content | safe}}
{%- endblock -%}

{%- block footer -%}
    {%- include "./components/footer.njk" -%}
{%- endblock -%}

{%- block headCss -%}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OwlCarousel2/OwlCarousel2@2.3.4/dist/assets/owl.carousel.min.css" />
{%- endblock -%}

{%- block footerJs -%}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/OwlCarousel2/OwlCarousel2@2.3.4/dist/owl.carousel.min.js"></script>
{%- endblock -%}