{%- extends "./base.njk" -%}

{%- block content -%}
    {%- include "./components/header.njk" -%}
    {{content | safe}}
{%- endblock -%}

{%- block footer -%}
    {%- include "./components/footer.njk" -%}
{%- endblock -%}

{%- block headCss -%}
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
{%- endblock -%}

{%- block footerJs -%}
    <script src="https://cdn.bootcdn.net/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{%- endblock -%}