{% include "layouts/header.njk" ignore missing %}
        <article>
                <div class="index">
                        {{ content | photosets | safe }}
                </div>
        </article>
{% include "layouts/footer.njk" ignore missing %}