{% include "layouts/header.njk" ignore missing %}
        <article>
            <div class="post-items">
                <h1>{{ title }}</h1>
                {% if date %}<time>{{ date | newsDate }}</time>{% endif %}
            </div>
            <div class="post-content">
                {{ content | photosets | safe }}
            </div>
            <div class="post-comments">
                <h2>发表评论</h2>
                <div id="tcomment"></div>
            </div>
        </article>
{% include "layouts/footer.njk" ignore missing %}