{%- block footer -%}
    <div id="footer">
        <p>
            Bulid in&nbsp;<a href="https://www.cloudflare.com/" title="Cloudflare官网" target="_blank" rel="noopener nofollow">Cloudflare</a>&nbsp;with&nbsp;<a href="https://www.11ty.dev/" title="11ty官网" target="_blank" rel="noopener nofollow">11ty</a>.
        </p>
        <p>
            Code by&nbsp;<a href="https://github.com/yoniu/my-blog" title="本站源码" target="_blank" rel="noopener nofollow">油油</a>.&nbsp;<a href="https://beian.miit.gov.cn/" title="备案查询" rel="noopener nofollow" target="_blank">粤ICP备18152975号</a>
        </p>
    </div>
{%- endblock -%}