{%- extends "./page.njk" -%}

{%- block meta -%}
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="description" content="{{content | getDescriptionFrom | striptags}}">
{%- endblock -%}

{%- block content -%}
    {%- include "./components/header.njk" -%}
    <article class="post post-page">
        <h1 class="article-title">{{ title }}</h1>
        <time class="article-time" datatime="{{date}}">{{date | newsDate('MM月dd日')}}</time>
        <div class="article-content">{{content | photosets | safe}}</div>
        <div class="article-comments">
            <div class="you-title">发表评论</div>
            <div id="disqus_thread"></div>
            <script>
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://yoniu.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </article>
{%- endblock -%}